:root {
  --flow-space: 1em;
}

/*
Colours ref::
Text -
Body: #3d3d3d (other text)
Skip to content: #fff
Primary: #16405b (site name/footer)
Accent: #BD3200 (links, site name span)

Background -
Body: #e3e3e3
Skipt to content: #000
Card: #f9f9f9;
*/

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}


/**
 * CSS reset
 * @link https://github.com/hankchizljaw/modern-css-reset
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**
 * Elements
 */
body {
  padding: 2.25rem 0;
  background: #d5e3ec;
  color: #3d3d3d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.4;
}

main {
  margin-top: 2.25rem;
}

p {
  max-width: 70ch;
}

h2 {
  font-size: calc(1.2rem + 0.5vw);
}

[href] {
  color: currentColor;
  font-weight: 600;
  text-decoration-color: #BD3200;
  text-decoration-thickness: 2px;
}

[href]:hover,
[href]:focus {
  color: #BD3200;
  text-decoration: none;
}

label {
  font-weight: 600;
}

input[type="text"] {
  width: 25rem;
  max-width: 100%;
  padding: 1rem;
  border-radius: 5px;
          appearance: none;
  -webkit-appearance: none;
     -moz-appearance: none;
  border: 1px solid;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.025);
}

input[type="text"]:focus {
  outline: 5px auto;
}

aside {
  font-size: 1rem;
  margin-top: 4.5rem;
}

footer {
  margin-top: 2.25rem;
}

[hidden] {
  display: none;
}


/*
 * Skip-to-content component
 */
[href="#main"] {
  position: absolute;
  top: -4rem;
  display: block;
  width: 100%;
  max-width: none;
  margin-top: 0;
  padding: 0.75rem;
  background-color: #000;
  color: #fff;
  text-align: center;
  z-index: 1;
}

[href="#main"]:focus {
  top: 0;
  outline: none;
  color: #fff;
}


/**
 * Flow utility and contexts
 */
.o-flow > * + * {
  margin-top: 1em;
  margin-top: var(--flow-space);
}

h2 ~ h2 {
  --flow-space: 2.25rem;
}


/**
 * Wrapper utility
 */
.o-wrapper {
  max-width: 87.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 4vw;
}


/**
 * Site Header component
 */
.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.site-header__brand {
  min-width: 70%;
}

.site-name {
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  line-height: 1;
  color: #16405b;
}

.site-strapline {
  margin-top: 0.75rem;
  max-width: 40ch;
  font-size: calc(1rem + 0.5vw);
}

.site-name span {
  color: #BD3200;
}

.site-nav {
  --flow-space: 1.5rem;
  margin-top: 2.25rem;
}

.site-nav__list.site-nav__list {
  --flow-space: 0.5rem;
  list-style: disc;
  margin-left: 2rem;
}

.share {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  list-style-type: none;
}

.share ul {
  display: flex;
}

.share li {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.search label {
  margin-right: 0.5rem;
}

.search input {
  margin-top: 0.5rem;
}

.results {
  color: #BD3200;
}


/**
 * Listings component
 */
.listings.listings {
  overflow: hidden;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

@media only screen and (min-width: 40rem) {
  .listings {
    display: flex;
    flex-wrap: wrap;
  }
}

/**
 * Card component
 */
.card {
  margin: 1.5rem 0.75rem;
}

@media only screen and (min-width: 40rem) {
  .card {
    flex-basis: calc(50% - 1.5rem);
  }
}

@media only screen and (min-width: 60rem) {
  .card {
    flex-basis: calc(33% - 1.5rem);
  }
}

.card__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem 2rem 3rem;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.025);
  background-color: #f9f9f9;
  word-break: break-word;
}

.card__name {
  font-size: 1.3rem;
}

.card__tags {
  color: #BD3200;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.card__content {
  margin-top: 2.25rem;
}

.card__locality {
  font-weight: 600;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 2px dashed #3d3d3d;
  color: #BD3200;
}
.card__delivery {
  order: -1;
  margin: -2.5rem 0 0.5rem -2.5rem;
}
.card__delivery span {
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  background-color: #16405b;
  color: #fff;
}


/**
 * Demands component
 */
.demands {
  color: #16405b;
  font-family: "Playfair Display", serif;
  font-size: 6vw;
  font-weight: 700;
  line-height: 1;
}

@media only screen and (min-width: 87.5rem) {
  .demands {
    font-size: 5.3rem;
  }
}


/**
 * Icon
 */
.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: -0.15em;
}

.icon--top {
  width: 0.75em;
  vertical-align: top;
}


/**
 * Notification component
 */
.notification {
  --flow-space: 0.5em;

  padding: 1.75em 2em 2em;
  border-radius: 5px;
  border: 1px dashed #179cb0;
  background-color: rgba(23, 153, 176,0.05);
}


/**
 * Utilities
 */
.show-row { display: block; }
.hide-row { display: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.mt-0 {
  margin-top: 0;
}


@media (prefers-color-scheme: dark) {
  body {
    background: #2d2d2d;
    color: #e3e3e3;
  }
  [href] {
    text-decoration-color: #90B6CB;
  }
  [href]:hover,
  [href]:focus {
    color: #90B6CB;
  }
  [href="#main"] {
    background-color: #000;
    color: #fff;
  }
  [href="#main"]:focus {
    color: #fff;
  }
  input[type="text"] {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.025);
    background-color: #3d3d3d;
    color: #e3e3e3;
  }
  .site-name {
    color: #ff6229;
  }
  .site-name span {
    color: #90B6CB;
  }
  .results {
    color: #90B6CB;
  }
  .card__inner {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.25);
    background-color: #3d3d3d;
  }
  .card__tags {
    color: #90B6CB
  }
  .card__locality {
    border-top: 2px dashed #3d3d3d;
    color: #90B6CB;
  }
  .card__delivery span {
    background-color: #ff6229;
    color: unset;
  }
  .demands {
    color: #ff6229;
  }
}
