<article class="card__inner">
  <h3 class="card__name">{{ item.name }}</h3>
  <p class="[ card__tags ] [ mt-0 ]">{{ item.tags }}</p>
  <p class="card__content">{{ item.description | safe }}</p>
  <p class="card__locality">{{ item.village }}</p>
  <p class="card__contact">{{ item.contact | safe }}</p>
  <p class="card__address">{{ item.address }}</p>
  {% if item.delivery == "yes" %}<p class="card__delivery"><span>Delivery</span></p>{% endif %}
</article>
